body
{
	margin:0;
	padding:0;
}
.pageTitle
{
	padding-top:20px;
	padding-bottom:15px;
	text-align:center;
	font-size:35px;
	font-family: 'Dancing Script', cursive;
	background: linear-gradient(to bottom, white 0%, rgb(119,136,153) 100%);
}
.pageTitle h1
{
	margin-top:0;
	margin-bottom:0;
	color:white;
}
#mainphoto
{
	width:100%;
	height:300px;
	background-image:url("images/mainphoto.jpg");
	background-size:cover;
	margin-top:0;
	padding-top:0;
}
#quotebtn
{
	font-size: 50px;
	border-radius:12px;
	background-color:#4682B4; /*color steel blue*/
	font-family: 'Dancing Script', cursive;
}
.btnContainer
{
	text-align:center;
	margin-top: 20px;
}
.btnContainer #quotebtn:hover
{
	background-color: #3e8e41; /*Color Dark green*/
}
#quoteSlot
{
	color:white;
	font-size:30px;
	text-align:center;
	font-family: 'Exo 2', sans-serif;
	padding-top:60px;
	padding-left:20px;
	padding-right:20px;
}
div #instgramLogo
{
	width:100px;
	height:100px;
}
.instagramContainer
{
	text-align:center;
}
.noteContainer
{
	text-align:center;
}
.noteContainer p
{
	font-size:20px;
	font-family: 'Exo 2', sans-serif;
}
.footer
{
	padding-bottom:10px;
	padding-top:10px;
	background-color: black;
	margin:0;
	width:100%;
}
.footer p
{
	color:white;
	text-align:center;
}
